goishi {
  z-index: 9999;
  position: absolute;
  border-radius: 50%;
  width: 71px;
  height: 71px;
  display: inline-block;
  margin-top: 36px;
  margin-left: 36px;
  &.black {
    background-color: #000;
    background-image: -webkit-radial-gradient(35% 35%, circle closest-corner, #666, black);
  }
  &.white {
    background-color: #fff;
    background-image: -webkit-radial-gradient(35% 35%, circle closest-corner, white, #ccc);
  }
}

.board {
  position: relative;
  padding: 0;
  margin: 0;
  hr {
    position: absolute;
    margin: 0;
    &.line {
      border: none;
      border-top: 1px solid black;
      width: 100%;
    }

    &.vertical {
      width:1px;
      border: none;
      border-left: 1px solid black;
      height:100%;
      /*-webkit-transform: rotate(90deg);*/
      /*-webkit-transform-origin: top left;*/
    }
  }
}
