/*@import "compass_twitter_bootstrap";*/

.container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-align-items: stretch;

  div {
    padding: 5px;
  }
  .board {
    -webkit-flex: 85%;
    -webkit-order: 2;
    background: url(img/purty_wood.png) repeat;
  }

  .control-panel {
    -webkit-flex: 15%;
    -webkit-order: 1;
    text-shadow: 0px -1px 0px #668337;
    background: url(img/wood_1.png) repeat;
    color: #fff;
  }
}

