/*@import "compass_twitter_bootstrap";*/
@import "elements";

body {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  div {
  }
  .board {
    position: absolute;
    height: 800px;
    width: 800px;
    background: url(img/purty_wood.png) repeat;
  }

  .control-panel {
    height: 30px;
    color: #bada55;
  }
}

