<div class="board">
  <hr ng-style="pos(column)" class="line vertical" ng-repeat="column in columns"/>
  <hr ng-style="pos(row)" class="line" ng-repeat="row in rows"/>
  <goishi class="white"></goishi>
  <goishi class="black"></goishi>
  <!--SVG-->
</div>
<div class="control-panel">
  <h3>Active Games</h3>
  <ul>
    <li ng-repeat="game in activeGames">{{game}}</li>
  </ul>
  <h3>History</h3>
  <ul>
    <li ng-repeat="game in activeGames">{{game}}</li>
  </ul>
  <button>Take Move</button>
</div>
